{% extends 'agenda_pericias/base.html' %}
{% block content %}
{% load static %} <!-- Nova linha que carrega os arquivos estáticos -->  
<div class="container-fluid" style="padding-top: 5%; padding-bottom: 5%;">
    <h2 style="text-align: center; margin-top: 10px; font-size: 25px; color: black;">Perícias Agendadas do dia</h2>
    <br>    
    <form name="form_filtrar_pericias" id="formFiltrar" method="post">
        {% csrf_token %}
        <table class="table table-bordered table-striped" style="font-size: 15px; white-space: nowrap">
            <tr style="text-align:center; vertical-align: middle;">
                <td hidden>id</td>
                <th style="vertical-align: middle; text-align: center;">Data Perícia</th>
                <th style="vertical-align: middle; text-align: center;">Perito</th>
                <th style="vertical-align: middle; text-align: center;">Periciado</th>
                <th style="vertical-align: middle; text-align: center;">Processo</th>
                <th style="vertical-align: middle; text-align: center;">Especialidade</th>
                <th style="vertical-align: middle; text-align: center;">Situação</th>
                <th style="vertical-align: middle; text-align: center;">✔</th>
                <th style="vertical-align: middle; text-align: center;">Entrada</th>
                <th style="vertical-align: middle; text-align: center;">Saída</th>
                <th></th>
            </tr>
            {% for pericia in pericias %}
            <tr id="row-{{ pericia.id }}" style="font-size: 13px; line-height: 1px; text-rendering: auto; vertical-align: middle; {% if pericia.compareceu_pericia and pericia.hora_saida %} background-color: #ADD8E6; {% endif %}">
                <td hidden>{{ pericia.id }}</td>
                <td style="vertical-align: middle; text-align: center;">{{ pericia.data_pericia }}</td>
                <td style="vertical-align: middle;">{{ pericia.perito }}</td>
                <td style="vertical-align: middle;">{{ pericia.periciado }}</td>
                <td style="vertical-align: middle; text-align: center;">{{ pericia.processo }}</td>
                <td style="vertical-align: middle;">{{ pericia.especialidade }}</td>
                <td style="vertical-align: middle; text-align: center;">{{ pericia.situacao_pericia }}</td>
                <td style="vertical-align: middle; text-align: center;"><input type="checkbox" id="id_compareceu_pericia" name="compareceu_pericia" class="compareceu-checkbox" data-id="{{ pericia.id }}" {% if pericia.compareceu_pericia %}checked{% endif %}></td>
                <td style="vertical-align: middle; text-align: center;">{{ pericia.hora_entrada|date:"H:i" }}</td>
                <td style="vertical-align: middle; text-align: center;">{{ pericia.hora_saida|date:"H:i" }}</td>
                <td style="vertical-align: middle; text-align: center;">
                    <a href="{% url 'atualizar_saida_pericia' pericia.id %}">
                        {% if not pericia.compareceu_pericia %}
                        <img src="{% static 'images/lapis.png' %}" style="max-width: 15px; max-height: 15px; border: 0px;">
                        {% elif pericia.compareceu_pericia and not pericia.hora_saida %}
                        <img src="{% static 'images/sair.png' %}" style="max-width: 15px; max-height: 15px; border: 0px;">
                        {% elif pericia.compareceu_pericia and pericia.hora_entrada and pericia.hora_saida %}
                        <img src="{% static 'images/lapis.png' %}" style="max-width: 15px; max-height: 15px; border: 0px;">
                        {% endif %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>

<footer>
    <form method="GET">
      <div position="fixed" class="container-fluid">
          <a style="text-decoration: none; color: white; font-size: small;">
            Perito: <input type="text" name="perito" id="perito" style="width: 120px; height: 25px; text-align: center; color: black; margin-right: 5px;">
            Processo: <input type="text" name="processo" id="processo" style="width: 190px; height: 25px; text-align: center; color: black;">
            <button class="btn btn-primary btn-sm" type="submit" id="button-addon1" style="margin-left: 5px;">Buscar/Limpar</button>
          </a>
      </div>
    </form>
</footer>

<script>
    $('#search').mask('00/00/0000');
    $('#processo').mask('0000000-00.0000.0.00.0000')
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll(".compareceu-checkbox").forEach(function(checkbox) {
            checkbox.addEventListener("change", function() {
                let periciaId = this.getAttribute("data-id");
                let status = this.checked ? 1 : 0;
                
                fetch("{% url 'atualizar_comparecimento' %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: JSON.stringify({ "id": periciaId, "compareceu": status })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log("Atualização realizada com sucesso!");
                        window.location.reload(); // Recarrega a página
                    } else {
                        console.error("Erro ao atualizar.");
                    }
                })
                .catch(error => console.error("Erro na requisição:", error));
            });
        });
    });
</script>
{% endblock %}