{% extends 'agenda_pericias/base.html' %}
{% block content %}
{% load static %} <!-- Nova linha que carrega os arquivos estáticos -->  
<div class="container" style="padding-top: 5%; padding-bottom: 5%; width: 40%;">
    {% if view_origem == 'realizadas' %}
        <h2 style="text-align: center; margin-top: 10px; font-size: 25px; color:black;">
            Perícias Realizadas por Especialidade
        </h2>
    {% elif view_origem == 'nao_realizadas' %}
        <h2 style="text-align: center; margin-top: 10px; font-size: 25px; color:black;">
            Perícias não Realizadas
        </h2>
    {% else %}
        <h2 style="text-align: center; margin-top: 10px; font-size: 25px; color:black;">
            Perícias por Especialidade
        </h2>
    {% endif %}
        <table class="table table-bordered" style="font-size: 15px; white-space: nowrap">
            <thead>
                <tr style="font-weight: bold; background-color: cadetblue;">
                    <th style="text-align:center; vertical-align: middle;">Mês</th>
                    <th style="text-align:center; vertical-align: middle;">Especialidade</th>
                    <th style="text-align:center; vertical-align: middle;">Total de<p>Perícias</p></th>
                </tr>
            </thead>
            <tbody>
                {% if pericias_por_mes %}
                    {% for pericia_mes in pericias_por_mes %}
                        {% for especialidade in pericia_mes.especialidades %}
                            <tr style="font-size: 13px; line-height: 1px; text-rendering: auto; vertical-align: middle; text-align: center;">
                                {% if forloop.first %}
                                    <td td style="font-size: 13px; text-rendering: auto; vertical-align: middle; text-align: center;font-weight: bold;" rowspan="{{ pericia_mes.especialidades|length }}">{{ pericia_mes.mes|date:"F Y" }}</td>
                                {% endif %}
                                <td>{{ especialidade.especialidade }}</td>
                                <td>{{ especialidade.total }}</td>
                            </tr>
                        {% endfor %}
                        <tr style="font-weight: bold; background-color: lightblue;">
                            <td colspan="2" style="text-align:right;">Total de Perícias em {{ pericia_mes.mes|date:"F Y" }}:</td>
                            <td style="text-align:center;">{{ pericia_mes.total_mes }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">Nenhuma perícia realizada encontrada.</td>
                    </tr>
                {% endif %}
            </tbody>
            <tfoot>
                <tr style="font-weight: bold; background-color: cadetblue;">
                    <td colspan="2" style="text-align:right;">Total Perícias no ano:</td>
                    <td style="text-align:center;">{{ total_anual }}</td>
                </tr>
            </tfoot>
        </table>
</div>
<footer>
    <form method="GET">
      <div position="fixed" class="container-fluid">
          <a style="text-decoration: none; color: white; font-size: small;">
            Digite o Ano: <input type="text" placeholder="" name="search" id="search_especialidade" style="width: 120px; height: 25px; text-align: center;">
            <button class="btn btn-primary btn-sm" type="submit" id="button-addon1">Buscar/Limpar</button>
          </a>
      </div>
    </form>
</footer>

{% endblock %}
